<!-- views/solicituds/edit.ejs -->

<!DOCTYPE html>
<html>
 <head>
  <% include ../partials/head %>
 </head>
 <body>
  <% include ../partials/nav %>

  <div class="container solicitud solicitud-edit">
   <div class="solicitud-menu">
    <a class="btn btn-default" href="/solicituds/<%= solicitud._id %>">Back</a>
   </div>
   <h2>Edit</h2>
   <form class="solicitud-form" action="/solicituds/<%= solicitud._id %>?_method=put" method="post">    <div class="form-group">
     <label for="título">Título</label>
     <input class="form-control" type="text" id="título" name="título" value="<%= solicitud.título %>">
    </div>
    <div class="form-group">
     <label for="autor">Autor</label>
     <input class="form-control" type="text" id="autor" name="autor" value="<%= solicitud.autor %>">
    </div>
    <div class="form-group">
     <label for="año">Año</label>
     <input class="form-control" type="text" id="año" name="año" value="<%= solicitud.año %>">
    </div>
    <div>
     <button type="submit" class="btn btn-default">Submit</button>
    </div>
   </div>
  </form>
 </body>
</html>
