<!-- views/solicituds/show.ejs -->

<!DOCTYPE html>
<html>
 <head>
  <% include ../partials/head %>
 </head>
 <body>
  <% include ../partials/nav %>

  <div class="container solicitud solicitud-show">
   <div class="solicitud-menu">
    <a class="btn btn-default" href="/solicituds">Back</a>
    <a class="btn btn-default" href="/solicituds/<%= solicitud._id %>/edit">Edit</a>
    <form action="/solicituds/<%= solicitud._id %>?_method=delete" method="post">
     <a class="btn btn-default" href="#" onclick="confirm('Do you want to delete this?')?this.parentElement.submit():null;">Delete</a>
    </form>
   <div>
   <h2>Show</h2>
   <h3><%= solicitud.título %></h3>
   <div>
    <label>Autor</label><span><%= solicitud.autor %></span>
   </div>
   <div>
    <label>Año</label><span><%= solicitud.año %></span>
   </div>
  </div>
 </body>
</html>
